{% extends 'base.html' %}
	{% block content %}
		<div class="well">
			<div class="container">
		  		<h2>Contact Us</h2>

		  		<div class="row">
					<form class="form-horizontal contact" method="post">
						<div class="form-group">
						    <label for="email" class="col-md-2 control-label">Email</label> 
							<div class="col-md-4">
								<input class="form-control" type="text" id="email" name="email">
							</div>
						</div>
						<div class="form-group">
						    <label for="issue_type" class="col-md-2 control-label">Issue Type</label> 
							<div class="col-md-4">
								<select class="form-control" id="issue_type">
									<option>General</option>
								    <option>Suggestion</option>
								    <option>Error</option>
								</select>
							</div>
						</div>
						<div class="form-group">
						    <label for="email" class="col-md-2 control-label">Comment</label> 
							<div class="col-md-4">
								<input class="form-control" type="textarea" id="comment" name="comment">
							</div>
						</div>
						<div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" id="contact_sub" class="btn btn-default">Submit</button>
						    </div>
						  </div>
					</form>
				</div>
				<div class="col-md-offset-10 col-md-2">
					<a class="btn btn-primary" href="/home">Return Home</a>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$('#contact').hide()
			$('.input_data').parents('div.panel').hide()
			$('#logout').empty().append('Home')
			$('#logout').attr('href', '/home')
			$('#welcome').hide()
			$('#record_search').hide()
		</script>
	{% endblock %}

	