<div class="col-md-8 col-md-offset-2">
	<table class="table table-condensed list">
		<tr>
			<th>Artist</th>
			<th>Album</th>
			<th class="hidden-xs">Release Date</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		{% for s in selection %}
			<tr id="{{ s['id'] }}">
				<td>{{s.artist}}</td>
				<td>{{s.album}}</td>
				<td class="hidden-xs">{{s.release_date}}
				<td>
					<a data-toggle="modal" href="#editModal{{ s['id'] }}">
	    				<span class="glyphicon glyphicon-pencil"></span>
	    			</a>
	    		</td>
	    		<td>
	    			<div class="delete_wrap" id="{{ s['id'] }}">
	    				<a href="#" class="delete_from_list">
	    				    <span id="delete_logo" class="glyphicon glyphicon-remove"></span>
	    				</a>
	    			</div>
	    		</td>
	    		<td>
	    			{% if wish_list %}
	    			<div class="col-md-1 col-xs-1 album_options" id="{{ s['id'] }}">
	    			    	<a id="move_to_collection">
	    			        	<span id="delete_logo" class="glyphicon glyphicon-check"></span>
	    			        </a>
	    			</div>
	    			{% endif %}
	    		</td>
			</tr>
		{% endfor %}
	</table>
	{% for s in selection %}
		{% include 'modals.html' %}
	{% endfor %}
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-10 col-xs-4 col-xs-offset-7">
        <div class="paginate_holder">
            <ul class="pagination">
            <li class="previous {{ disabled }} list"><a class="link_previous" >&laquo;</a></li>
                {% for p in pages %}
                    <li {% if page == p %} class="active" {% endif %}><a href="/{{ p }}">{{ p }}</a></li>
                {% endfor %}
            <li class="next list"><a class="link_next">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

	var page = {{page}}

	//pagination
	$('.next').click(function(e){
	    e.preventDefault()

	    if($('.previous').hasClass('disabled')){
	        $('.previous').removeClass('disabled')
	    }
	    if(!$(this).hasClass('disabled')){
	        page++
	        if(!$('.next').hasClass('list')){
	            $.get('/get_records/' + page, function(data){
	                $('.albums').empty()
	                $('.albums').append(data)
	                that = data
	                $(that).find('div')
	            })
	        }
	        else{
	            $.get('/list_records/' + page, function(data){
	                $('.albums').empty()
	                $('.albums').append(data)
	                that = data
	                $(that).find('div')
	            })
	        }
	    }
	})

	$('.previous').click(function(){
	    if(!$(this).hasClass('disabled')){
	        page--
	        if(!$('.previous').hasClass('list')){
		        $.get('/get_records/' + page, function(data){
		            $('.albums').empty()
		            $('.albums').append(data)
		        })
		    }
		    else{
		    	$.get('/list_records/' + page, function(data){
		    	    $('.albums').empty()
		    	    $('.albums').append(data)
		    	})
		    }
	        if(page==1){
	            $('.previous').addClass('disabled')
	            $('.next').removeClass('disabled')
	        }
	    }
	})

	if(!$('.edit').hasClass('list')){
		$('.edit').addClass('list')
	}

	if(("{{ record_count }}" < 16) || ("{{ last_page }}")<=0){
		$('.next').addClass('disabled')
	}
	else{
		$('.next').removeClass('disabled')
	}
</script>