<div class="col-md-8 col-md-offset-2">
	<table class="table table-condensed list">
		<tr>
			<th>Artist</th>
			<th>Album</th>
			<th class="hidden-xs">Release Date</th>
			<th></th>
			<th></th>
		</tr>
		{% for s in selection %}
			<tr id="{{ s['id'] }}">
				<td>{{s.artist}}</td>
				<td>{{s.album}}</td>
				<td class="hidden-xs">{{s.release_date}}
				<td>
					<a data-toggle="modal" href="#editModal{{ s['id'] }}">
	    				<span class="glyphicon glyphicon-pencil"></span>
	    			</a>
	    		</td>
	    		<td>
	    			<div class="delete_wrap" id="{{ s['id'] }}">
	    				<a href="#" class="delete_from_list">
	    				    <span id="delete_logo" class="glyphicon glyphicon-remove"></span>
	    				</a>
	    			</div>
	    		</td>
			</tr>
		{% endfor %}
	</table>
	{% for s in selection %}
		{% include 'modals.html' %}
	{% endfor %}
</div>

<script type="text/javascript">
	if(!$('.edit').hasClass('list')){
		$('.edit').addClass('list')
	}
</script>