{% for s in selection %}
	<div class="col-md-3 col-xs-6 record_hold">
	    <div class="col-md-offset-6 col-md-1 col-xs-1 col-xs-offset-3">
	        <a data-toggle="modal" href="#editModal{{ s['id'] }}">
	        	<span class="glyphicon record glyphicon-pencil"></span>
	        </a>
		</div>
		<div class="col-md-1 col-xs-1 album_options" id="{{ s['id'] }}">
	        <a href="#" class="delete">
	            <span id="delete_logo" class="glyphicon glyphicon-remove"></span>
	        </a>
	    </div>
	    {% if wish_list %}
	    <div class="col-md-1 col-xs-1 album_options" id="{{ s['id'] }}">
	        <a href="#" class="delete">
	        	<a id="move_to_collection">
	            	<span id="delete_logo" class="glyphicon glyphicon-check"></span>
	            </a>
	        </a>
	    </div>
	    {% endif %}

		<img class="hidden-xs get_details {{ s['id'] }}" id="{{ s['id'] }}"
		src="
		{% if s['user_artwork'] == '' %}
			{{ s['album_art'] }}
		{% else %}
			{{ s['user_artwork'] }}
		{% endif %} " 
		width="200" height="200" data-toggle="tooltip" data-placement="top" title='{{ s.artist }} - {{ s.album }}'></img>  
		<img class="visible-xs get_details {{ s['id'] }}" id="{{ s['id'] }}"
		src="
		{% if s['user_artwork'] == '' %}
			{{ s['album_art'] }}
		{% else %}
			{{ s['user_artwork'] }}
		{% endif %} " 
		width="100" height="100"></img>
		<!--<div class="text-center visible-xs">
			<small><strong>Artist: </strong>{{ s.artist }}<br>
			<strong>Album: </strong>{{ s.album }}</small>
		</div>  -->
	</div>
	
	{% include 'modals.html' %}
{% endfor %}


<script type="text/javascript">
	if(("{{ record_count }}" < 16) || ("{{ last_page }}")<=0){
		$('.next').addClass('disabled')
	}
	else{
		$('.next').removeClass('disabled')
	}
</script>

