<!DOCTYPE html>

<script src="../static/less-1.3.0.min.js"></script>
<script src="../static/jquery-1.10.2.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/select2-3.4.5/select2.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/rcrd-styles.css">
<link rel="stylesheet" type="text/css" href="../static/select2-3.4.5/select2.css">


<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <a id="contact" href="/contact">Contact Us </a>
                <a id="logout" href="/logout"> Logout</a>
            </div>
        </div>
        <div class="row">
            <h1>RcrdKeepr <small class ="mgmt">Vinyl Management powered by <img width="75" height="28" src='http://developer.rdio.com/files/RdioBlueLogo.png'></img></small></h1>
        </div>
    </div>
    <body>
        <div class="messages"></div>
        	{% block content %}
        	{% endblock %}
    </body>
</div>

<div class="record_added" id="notification">
        <h3>Record Add</h3>
        <p><marking class="data"></marking> has been successfully added to RcrdKeepr.</p>
</div>

<div class="record_deleted" id="notification">
        <h3>Record Deleted</h3>
        <p><marking class="data"></marking> has been successfully deleted from RcrdKeepr.</p>
</div>

<script>

{% include 'rcrdkeepr-js.js' %}

</script>