
{% extends 'base.html' %}

{% block content %}
	<div class="container">
  		<h1>FAQ <small>Subtext for header</small></h1>

  		<div class="row">
  			<div class="col-md-6">
  				<ul>
  					<a href="javscript:;"><li>test</li></a>
  				</ul>
  			</div>
  		</div>
  			<div class="col-md-offset-10 col-md-2">
  				<a class="btn btn-primary" href="/home">Return Home</a>
  			</div>
  		</div>

  		<script type="text/javascript">
  			$('.input_data').parents('div.panel').hide()
  		</script>
	</div>
{% endblock %}

