<div class="uber_hack">
	{% extends 'base.html' %}
	    {% block content %}
	    	<div class="row">
	    		<div class="col-md-1">
	    			<button class=" btn btn-default btn-ms add">
	    				<span class="glyphicon glyphicon-plus"></span>
	    			</button>
	   			</div>
	   			<div class="col-md-2 col-md-offset-9">
	   				<div class="col-md-1 view_holder"></div>
	   				<div class="col-md-1 refresh_holder">
	   					<button class=" btn btn-default btn-ms refresh">
	   						<span class="glyphicon glyphicon-refresh"></span>
	   					</button>
	   				</div>
	   			</div>
	    	</div>
	        <div class="albums row">
	 				{% include 'records.html' %}           
	        </div>
	        <div class="row">
	        <div class="col-md-1 col-md-offset-10 col-xs-4 col-xs-offset-7">
		        <div class="pageinate_holder">
		            <ul class="pagination">
		            <li class="previous {{ status_prev }}"><a class="link_previous" href="/home/{{ page }}">&laquo;</a></li>
		                {% for p in pages %}
		                    <li {% if page == p %} class="active" {% endif %}><a href="/{{ p }}">{{ p }}</a></li>
		                {% endfor %}
		            <li class="next {{ status_next }}"><a class="link_next" href="/home/{{ page }}">&raquo;</a></li>
		            </ul>
		        </div>
	        </div>
	        </div>
</div>	        
	<script type="text/javascript">
		$(document).ready(function(){
			$('.view_holder').empty()
			$('.view_holder').append('<button type="button" class="list_view btn btn-default btn-ms"> \
		    		<span class="glyphicon glyphicon-list"></span> \
		    	</button>')
		})
	</script>
	    {% endblock %}

