<div class="album record_hold col-md-3">
    <div class="col-md-1 col-md-offset-8 col-xs-1 col-xs-offset-8 album_options" id="{{ s['id'] }}">
        <a href="#" class="delete">
            <span id="delete_logo" class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div class="col-md-1 col-xs-1">
        <a data-toggle="modal" href="#editModal{{ s['id'] }}">
            <span class="glyphicon record glyphicon-pencil"></span>
        </a>
    </div>
    <img class="get_details {{ s['id'] }}" id="{{ s['id'] }}"
    src="
    {% if s['user_artwork'] == '' %}
        {{ s['album art'] }}
    {% else %}
        {{ s['user_artwork'] }}
    {% endif %} " 
    width="200" height="200" data-toggle="tooltip" data-placement="top" title='{{ s.artist }} - {{ s.album }}'></img>  
</div>

{% include 'modals.html' %}
