<script src="../static/less-1.3.0.min.js"></script>
<script src="../static/jquery-1.7.2.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/rcrd-styles.css">


<div class="container">
    <div class="page-header">
      <h1>RcrdKeepr <small class ="mgmt">Vinyl Management powered by <img width="75" height="28" src='http://developer.rdio.com/files/RdioBlueLogo.png'></img></small></h1>
    </div>
    <body>
        <div class="messages"></div>
        	{% block content %}
        	{% endblock %}
    </body>
</div>

<script>

{% include 'rcrdkeepr-js.js' %}

</script>