.mgmt {
    float: right;
}

.alert_area {
    display: none;
}

.select2-container {
  width: 250px;
}

.login_control {
    padding-top: 10px;
}

.or {
    padding-top: 10px;
    padding-bottom: 10px;
}

.album_row {
    padding-bottom: 40px;
}

.album {
    padding-bottom: 40px;
}

.page-header {
    margin: 10px 0 20px;
}

.input_data {
    padding-top: 10px;
}

.panel-default>.panel-heading {
    background-color: #cee2f8;
    border: none;
}

.panel-default {
    margin-bottom: 50px;
}

.quick_link{
  padding-left: 15px;
  float: right;
}

#comment {
    height: 200px;
    width: 300px;
}

#notification {
  display: none;
  width: 300px;
  position: fixed;
  bottom: 0;
  z-index: 500;
  background: #f5f5f5;
  border: 3px solid #80b7ed;
  padding: 10px;
  margin-left: 10px;
}

.list_view {
  float: right;
}

.grid_view {
  float: right;
}

.view_holder {
  padding-right: 0px;
}

.refresh_holder {
  padding-left: 0px;
  padding-right: 0px;
}

.album_options {
  padding-bottom: 10px;
}

.desc {
  padding-left: 25px;
}

#issue_type {
  width: 200px;
}